/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import "tailwindcss";

:root {
  /* --primary-color: #A0ECD0;
  --primary-dark-color: #94DDBC;
  --primary-light-color: #CFFFB0;

  --secondary-color: #88BB92;
  --secondary-dark-color: #558b60;


  --terciary-color: #fcca9c;
  --terciary-dark-color:#dd7c22;
  --terciary-light-color:#fcca9cbb;
  --terciary-extralight-color:#fcca9c60;

  --extra-color: #717171;
  --extra-light-color: #FFF689; */
    
    --primary-color: #3945ad;
    --primary-dark-color: #aecfef;
    --primary-light-color: #e1ebf5;
    --primary-light-dark-color: #dbe5ee;

    --secondary-color: #131313;
    --secondary-dark-color: #13131370;
    --secondary-light-color: #13131350;

    --extra-color: #ff1a1a;

    --background-color: white;
    --text-color: #131313;
}

@theme {
  --color-primary: var(--primary-color);
  --color-primary-dark: var(--primary-dark-color);
  --color-primary-light: var(--primary-light-color);

  --color-secondary: var(--secondary-color);
  --color-secondary-dark: var(--secondary-dark-color);

  /* --color-terciary: var(--terciary-color);
  --color-terciary-light: var(--terciary-light-color);
  --color-terciary-extralight: var(--terciary-extralight-color);
  --color-terciary-dark: var(--terciary-dark-color);

  --color-extra-light: var(--extra-light-color); */

  --color-extra: var(--extra-color);

  --font-bruno: BrunoAce;
}

.tab-selected {
    color:var(--secondary-color)
}

ion-toolbar {
    --background: var(--primary-light-color);
    --color: var(--text-color);
}

ion-tab-bar {
    --background: var(--primary-light-color);
    --color: var(--text-color);
}

ion-tab-button {
    /* --color: var(--terciary-dark-color);
    --background: var(--color-terciary); */
    --color-selected: var(--primary-color); /* hover */
}

ion-content {
    --color: var(--text-color);
}

#container {
    background: var(--background-color);
    /* color: #131313 !important; */
}

body {
    font-family: BrunoAce;
}

@font-face {
    font-family: BrunoAce;
    src: url(/src/assets/BrunoAceSC.ttf);
}

.header {
    box-shadow: none;
}